body
{
	background:#EEEEEE;
	margin:0px;
	padding:0px;
	text-align:center;
}
body,td
{
	font-family:verdana;
	font-size:11px;
}
#global_wrapper
{
	width:960px;
	padding:1px 16px 16px 16px;
	background:#fff;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
hr
{
	border:1px solid #EEEEEE;
}
h2
{
	line-height:0px;
	display:block;
	padding:0px;
	margin:16px 0px 16px 0px;
	color:#4096EE;
}
.code
{
	border:1px solid gray;
	background:#EEEEEE;
	padding:4px;
	color:#36393D;
	margin-top:8px;
}
#subtitle
{
	color:#36393D;
	font-size:8px;
	width:100px;
}
#title_container
{
	font-size:x-large;
	font-weight:bold;
	padding-bottom:2px;
	border-bottom:1px solid #C3D9FF;
}
#left_wrapper
{
	width:196px;
	vertical-align:top;
	padding:16px 16px 0px 0px;
	position:fixed;
}
#right_wrapper
{
	vertical-align:top;
	padding-top:16px;
	padding-left:212px;
}